<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/adminLayout}">

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:inline="javascript">

        $(document).ready(function () {
            $("#searchBtn").on("click", function (e) {
                e.preventDefault();
                page(0);
            });
        });

        function page(page) {
            var searchDateType = $("#searchDateType").val();
            var searchSellStatus = $("#searchSellStatus").val();
            var searchBy = $("#searchBy").val();
            var searchQuery = $("#searchQuery").val();
            var category = $("#category").val();  // 1107 성아 카테고리 값 추가

            location.href = "/admin/items/" + page + "?searchDateType=" + searchDateType
                + "&searchSellStatus=" + searchSellStatus
                + "&searchBy=" + searchBy
                + "&searchQuery=" + searchQuery
                + "&category=" + category;  // 1107 성아 URL에 카테고리 값 포함
        }

    </script>
</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        select {
            border: none;
            border-bottom: solid 0.1px rgb(218, 218, 218);
            border-radius: 5%;
        }

        .admin-item {
            width: 90%;
            margin-top: 4rem;
        }

        .admin-item-search {
            display: flex;
            margin: none;
            padding: none;
            margin-bottom: 0.5rem;
            gap: 4px;
        }

        .admin-item-h3 {
            margin-bottom: 4rem;
        }

        @media (max-width: 426px) {
            .admin-item {
                width: 100%;
                margin-top: 2rem;
            }

            .admin-item-search {
                flex-direction: column;
                align-items: center;
            }

            .admin-item-h3 {
                font-size: 1.5rem;
            }

            table {
                display: block;
                overflow-x: auto;
                /* 테이블 가로 스크롤 허용 */
                font-size: 0.8rem;
            }

            th,
            td {
                text-align: left;
                padding: 0.3rem;
            }

            thead {
                font-size: 0.9rem;
            }

            .pagination {
                font-size: 0.7rem;
            }
        }
    </style>
</th:block>

<div layout:fragment="content">
    <div class="container-fluid admin-item">
        <h3 class="admin-item-h3">상품 관리</h3>
        <form th:action="@{'/admin/items/' + ${items.number}}" role="form" method="get" th:object="${items}">
            <div class="form-inline justify-content-center admin-item-search" th:object="${itemSearchDto}">
                <select th:field="*{searchDateType}" class="custom-select" style="width:auto;">
                    <option value="all">전체기간</option>
                    <option value="1d">1일</option>
                    <option value="1w">1주</option>
                    <option value="1m">1개월</option>
                    <option value="6m">6개월</option>
                </select>
                <!-- 1107 성아 카테고리로 검색 추가 -->
                <select th:field="*{category}" class="custom-select" style="width:auto;">
                    <option value="">카테고리(전체)</option>
                    <option value="0">컴퓨터</option>
                    <option value="1">모니터</option>
                    <option value="2">냉장고</option>
                    <option value="3">에어컨</option>
                    <option value="4">세탁기</option>
                    <option value="5">건조기</option>
                    <option value="6">모바일</option>
                    <option value="7">청소기</option>
                    <option value="8">식기세척기</option>
                    <option value="9">인덕션</option>
                </select>
                <select th:field="*{searchSellStatus}" class="custom-select" style="width:auto;">
                    <option value="">판매상태(전체)</option>
                    <option value="SELL">판매중</option>
                    <option value="SOLD_OUT">품절</option>
                    <option value="DELETE">삭제</option>
                </select>
                <select th:field="*{searchBy}" class="custom-select" style="width:auto;">
                    <option value="itemNm">상품명</option>
                    <option value="createdBy">등록자</option>
                </select>
                <input th:field="*{searchQuery}" type="text" class="form-control" placeholder="검색어를 입력해주세요">
                <button id="searchBtn" type="submit" class="btn btn-primary">검색</button>
            </div>
            <table class="table table-hover">
                <thead class="table-active">
                    <tr>
                        <td>상품아이디</td>
                        <!--                241022은열추가-->
                        <td>카테고리</td>
                        <!--                241022은열추가-->
                        <td>상품명</td>
                        <td>상태</td>
                        <td>재고</td> <!-- 1107 성아 재고 추가 -->
                        <td>등록자</td>
                        <td>등록일</td>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="item, status: ${items.getContent()}">
                        <!-- 1101 성아 수정 -->
                        <!--                <td th:text="${item.id}"></td>-->
                        <td th:text="${item.no}"></td>
                        <!--                241022은열추가-->
                        <!-- 1107 성아 수정 -->
                        <td th:text="${item.category == 0 ? '컴퓨터' :
                                      item.category == 1 ? '모니터' :
                                      item.category == 2 ? '냉장고' :
                                      item.category == 3 ? '에어컨' :
                                      item.category == 4 ? '세탁기' :
                                      item.category == 5 ? '건조기' :
                                      item.category == 6 ? '모바일' :
                                      item.category == 7 ? '청소기' :
                                      item.category == 8 ? '식기세척기' :
                                      item.category == 9 ? '인덕션' : '기타'}"></td>
                        <!--                241022은열추가-->
                        <td>
                            <!-- 1101 성아 수정 -->
                            <!--                    <a th:href="'/admin/item/'+${item.id}" th:text="${item.itemNm}"></a>-->
                            <a th:href="'/admin/item/'+${item.no}" th:text="${item.itemNm}"></a>
                        </td>
                        <!--                1017 은열 수정-->
                        <td
                            th:text="${item.itemSellStatus == T(com.top.constant.ItemSellStatus).SELL ? '판매중' :
                                      item.itemSellStatus == T(com.top.constant.ItemSellStatus).SOLD_OUT ? '품절' :
                                      item.itemSellStatus == T(com.top.constant.ItemSellStatus).DELETE ? '삭제' : '상태 없음'}">
                        </td>
                        <td th:text="${item.stockNumber}"></td> <!-- 1107 성아 재고 추가 -->
                        <td th:text="${item.createdBy}"></td>
                        <td th:text="${item.regTime}"></td>
                    </tr>
                </tbody>
            </table>

            <div
                th:with="start=${(items.number/maxPage)*maxPage + 1}, end=(${(items.totalPages == 0) ? 1 : (start + (maxPage - 1) < items.totalPages ? start + (maxPage - 1) : items.totalPages)})">
                <ul class="pagination justify-content-center">

                    <li class="page-item" th:classappend="${items.first}?'disabled'">
                        <a th:onclick="'javascript:page(' + ${items.number - 1} + ')'" aria-label='Previous'
                            class="page-link">
                            <span aria-hidden='true'>Previous</span>
                        </a>
                    </li>

                    <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}"
                        th:classappend="${items.number eq page-1}?'active':''">
                        <a th:onclick="'javascript:page(' + ${page - 1} + ')'" th:inline="text"
                            class="page-link">[[${page}]]</a>
                    </li>

                    <li class="page-item" th:classappend="${items.last}?'disabled'">
                        <a th:onclick="'javascript:page(' + ${items.number + 1} + ')'" aria-label='Next'
                            class="page-link">
                            <span aria-hidden='true'>Next</span>
                        </a>
                    </li>

                </ul>
            </div>
        </form>
    </div>
</div>

</html>