<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="footer" th:fragment="footer">
  <footer class="page-footer font-small cyan darken-3" style="background-color: #a7a7a7; color: #f8f9fa;">
    <!-- 상단 섹션 -->
    <div class="container text-center text-md-left pt-4" style="margin-top: 20rem;">
      <div class="row">
        <!-- 회사 소개 -->
        <div class="col-md-3 mt-md-0 mt-3">
          <h5 class="text-uppercase">Top shopping</h5>
          <p>We are an innovative shopping platform providing an exceptional online shopping experience.</p>
        </div>
        <!-- 연결 공간 -->
        <hr class="clearfix w-100 d-md-none pb-0">

        <!-- 고객 서비스 -->
        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">Customer Service</h5>
          <ul class="list-unstyled">
            <li><a href="/" style="color: #f8f9fa;">Shipping & Returns</a></li>
            <li><a href="/notice/list" style="color: #f8f9fa;">FAQ</a></li>
            <li><a href="#!" style="color: #f8f9fa;">Contact Us</a></li>
          </ul>
        </div>

        <!-- 소셜 미디어 -->
        <div class="col-md-3 mb-md-0 mb-3" style="text-align: center;">
          <h5 class="text-uppercase">Follow Us</h5>
          <ul class="list-unstyled d-flex">
            <li><a href="https://facebook.com" target="_blank"
                style="color: #f8f9fa; font-size: 24px; margin-right: 15px;"><i class="fab fa-facebook"></i></a></li>
            <li><a href="https://instagram.com" target="_blank"
                style="color: #f8f9fa; font-size: 24px; margin-right: 15px;"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://twitter.com" target="_blank" style="color: #f8f9fa; font-size: 24px;"><i
                  class="fab fa-twitter"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <p st>TOP전자 주식회사 대표이사 : 글로벌 번호 : 02-6020-0052</p>

      <p>사업장주소 : 서울특별시 관악구 남부순환로 1820 에그옐로우 14층</p>
      <p>호스팅서비스사업자 : 글로벌 아이티(주) 대표번호 : 0260200052 제품/서비스/멤버십: 1588-8282(통화요금 : 발신자부담) TOP 구매문의 : 02-6020-0052</p>
      
      <p>본 사이트에서 판매되는 상품 중에는 등록된 개별 판매자가 판매하는 상품이 포함되어 있습니다.</p>
      
    </p>개별 판매자 판매 상품의 경우 TOP전자(주)는 통신판매중개업자로서 통신판매의 당사자가 아니므로, 개별 판매자가 등록한 상품, 거래정보 및 거래 등에 대해 책임을 지지 않습니다.</p>
    <!-- 하단 섹션 -->
    <div class="text-center py-3" style="background-color: #23272b; color: #868e96;" id="bottomSection">
      <span style="color:#868e96;">© 2024 Shopping Mall Top Website</span> | <a href="#!"
        style="color: #868e96;">Privacy Policy</a> | <a href="#!" style="color: #868e96;">Terms of Use</a>
    </div>
  </footer>
</div>

</html>