<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <style>
    .header-btn {
      margin: 2px;
    }
  </style>
</head>
<div th:fragment="header">
  <div class="container-fluid" id="topSection">
    <nav class="navbar navbar-expand-sm">

      <div class="Logo">
        <a href="/"><img th:src="@{/img/Logo.png}" /></a>
      </div>


      <div id="maincetegori" class="container">
        <div class="container-fluid">

          <div class="login" style="display: flex; right: 2rem;top: 2rem;">

            <!--            241101 은열추가-->
            <search class="d-flex" style="border:none; background:none;">
              <form class="search-form form-inline my-2 my-lg-0" th:action="@{/}" method="get">
                <div class="d-flex">
                  <input name="searchQuery" class="form-control" type="search" placeholder="Search" aria-label="Search"
                  style="width: 200px;">
                  
                  <button id="search" class="btn" type="submit"><i class="fi fi-rr-search"></i></button>
                </div>
              </form>
            </search>
            <div class="dropdown mobile-list">
              <button type="button" style="border:none; background:none;" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                <i class="fi fi-rr-list"></i>
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/category/mobilePhone">모바일</a></li>
                <li><a class="dropdown-item" href="/category/computer">컴퓨터</a></li>
                <li><a class="dropdown-item" href="/category/television">모니터</a></li>
                <li><a class="dropdown-item" href="/category/refrigerator">냉장고</a></li>
                <li><a class="dropdown-item" href="/category/circulation">에어컨</a></li>
                <li><a class="dropdown-item" href="/category/washingMachine">세탁기</a></li>
                <li><a class="dropdown-item" href="/category/clothesDryer">건조기</a></li>
                <li><a class="dropdown-item" href="/category/vacuum">청소기</a></li>
                <li><a class="dropdown-item" href="/category/dishwasher">식기세척기</a></li>
                <li><a class="dropdown-item" href="/category/induction">인덕션</a></li>
              </ul>
            </div>
            <button type="button" class="btn login" onclick="location.href='/wishlist'"><i
                class="fi fi-rr-heart"></i></button>
            <button type="button" class="btn login" onclick="location.href='/cart'"><i
                class="fi fi-rr-shopping-cart"></i></button>
            <div class="dropdown" id="temple" style="margin-right: 2rem;">
              <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" style="width: 2rem;">
                <i class="fi fi-rr-user"></i>
              </button>
              <ul class="dropdown-menu">
                <li class="dropdown-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                  <a class="nav-link" href="/admin/main">관리자페이지</a>
                </li>

                <!-- 비밀번호 확인 후 회원 정보 수정으로 이동 -->
                <li class="dropdown-item" sec:authorize="isAuthenticated()">
                  <a class="nav-link" href="/members/check-password">회원 정보 수정</a>
                </li>
                <li class="dropdown-item" sec:authorize="isAuthenticated()">
                  <a class="nav-link" href="/orders">구매이력</a>
                </li>
                <li class="dropdown-item" sec:authorize="isAnonymous()">
                  <a class="nav-link" href="/members/login">로그인</a>
                </li>
                <li class="dropdown-item" sec:authorize="isAnonymous()">
                  <a class="nav-link" href="/sms/verify">회원가입</a>
                </li>
                <li class="dropdown-item" sec:authorize="isAuthenticated()">
                  <a class="nav-link" href="/members/logout">로그아웃</a>
                </li>
              </ul>
            </div>
            <div class="dropdown" style="float: right;">
              <button class="btn dropdown-toggle service-center" type="button" data-bs-toggle="dropdown">고객지원</button>
              <ul class="dropdown-menu" style="width: 3rem;">
                <li class="dropdown-item"><a class="nav-link" href="/notice/list">FAQ</a></li>
                <li class="dropdown-item"><a class="nav-link" href="/qna/list">QnA</a></li>
              </ul>
            </div>
            <div class="" style="font-size: small;  width: 100%;" th:if="${member != null}"
            th:text="${member.name} + '회원님 등급은' + ${member.grade} + '입니다❤' "></div>
          </div>
          <!--06Nov 의빈추가       -->
          <div class="btn-group pc-list">
            <div class="container-fluid">
              <a class="btn header-btn-item" href="/category/mobilePhone">모바일</a>
              <a class="btn header-btn-item" href="/category/computer">컴퓨터</a>
              <a class="btn header-btn-item" href="/category/television">모니터</a>
              <a class="btn header-btn-item" href="/category/refrigerator">냉장고</a>
              <a class="btn header-btn-item" href="/category/circulation">에어컨</a>
              <a class="btn header-btn-item" href="/category/washingMachine">세탁기</a>
              <a class="btn header-btn-item" href="/category/clothesDryer">건조기</a>
              <a class="btn header-btn-item" href="/category/vacuum">청소기</a>
              <a class="btn header-btn-item" href="/category/dishwasher">식기세척기</a>
              <a class="btn header-btn-item" href="/category/induction">인덕션</a>
            </div>
          </div>
        </div>

      </div>
    </nav>
  </div>
</div>

</html>